<?xml version="1.0"?>
<!--
  ~  @category   Hatimeria
  ~  @author      (office@hatimeria.com)
  ~  @copyright  Copyright (c) 2020 Hatimeria Sp. z o.o. Sp. k. ( https://www.hatimeria.com/ )
  ~  @license    (https://www.gnu.org/licenses/gpl-3.0.html)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
     <type name="Hatimeria\GtmPro\Model\DataLayerStaticService">
        <arguments>
            <argument name="dataLayerComponent" xsi:type="array">
                <item name="product_view" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\ProductView</item>
                <item name="core_data" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\CoreData</item>
                <item name="transaction_data" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\Transaction</item>
                <item name="search" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\Search</item>
                <item name="advanced_search" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\AdvancedSearch</item>
            </argument>
        </arguments>
    </type>
    <type name="Hatimeria\GtmPro\Model\DataLayerSectionService">
        <arguments>
            <argument name="dataLayerComponent" xsi:type="array">
                <item name="add_to_cart" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\AddToCart</item>
                <item name="remove_from_cart" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\RemoveFromCart</item>
                <item name="review_add" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\ReviewAdd</item>
                <item name="add_to_wishlist" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\AddProductToWishlist</item>
                <item name="remove_from_wishlist" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\RemoveProductFromWishlist</item>
                <item name="add_to_compare" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\AddProductToCompare</item>
                <item name="remove_to_compare" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\RemoveProductFromCompare</item>
            </argument>
        </arguments>
    </type>
    <type name="Hatimeria\GtmPro\Model\DataLayerCheckoutService">
        <arguments>
            <argument name="dataLayerComponent" xsi:type="array">
                <item name="checkoutStep" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\CheckoutStep</item>
            </argument>
        </arguments>
    </type>
    <preference for="Hatimeria\GtmPro\Api\DataLayerServiceInterface" type="Hatimeria\GtmPro\Model\DataLayerService" />
    <preference for="Hatimeria\GtmPro\Api\GuestCheckoutStepInterface" type="Hatimeria\GtmPro\Model\GuestCheckoutStep" />
    <preference for="Hatimeria\GtmPro\Api\CheckoutStepInterface" type="Hatimeria\GtmPro\Model\CheckoutStep" />
    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="hatimeria-gtmpro-product-abstract-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="hatimeria-gtmpro-product-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\CatalogSearch\Block\SearchResult\ListProduct">
        <plugin name="hatimeria-gtmpro-search-result" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Related">
        <plugin name="hatimeria-gtmpro-product-related-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Upsell">
        <plugin name="hatimeria-gtmpro-product-upsell-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Crosssell">
        <plugin name="hatimeria-gtmpro-product-crossell-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Promotion">
        <plugin name="hatimeria-gtmpro-product-promotion-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Random">
        <plugin name="hatimeria-gtmpro-product-random-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\CatalogWidget\Block\Product\ProductsList">
        <plugin name="hatimeria-gtmpro-product-catalogwidget-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
</config>