<?xml version="1.0"?>
<!--
  ~  @category   Hatimeria
  ~  @author      (office@hatimeria.com)
  ~  @copyright  Copyright (c) 2020 Hatimeria Sp. z o.o. Sp. k. ( https://www.hatimeria.com/ )
  ~  @license    (https://www.gnu.org/licenses/gpl-3.0.html)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\ProductView" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="0" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\UA\ProductView</item>
                <item name="1" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\V4\ProductView</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\CategoryView" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="1" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\V4\CategoryView</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\CartView" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="1" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\V4\CartView</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\CoreData" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="0" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\UA\CoreData</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\Transaction" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="0" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\UA\Transaction</item>
                <item name="1" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\V4\Transaction</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\Search" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="0" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\UA\Search</item>
                <item name="1" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\V4\Search</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\AdvancedSearch" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="0" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\UA\AdvancedSearch</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\AddToCart" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="0" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\UA\AddToCart</item>
                <item name="1" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\V4\AddToCart</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\RemoveFromCart" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="0" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\UA\RemoveFromCart</item>
                <item name="1" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\V4\RemoveFromCart</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\ReviewAdd" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="0" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\UA\ReviewAdd</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\AddProductToWishlist" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="0" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\UA\AddProductToWishlist</item>
                <item name="1" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\V4\AddProductToWishlist</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\RemoveProductFromWishlist" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="0" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\UA\RemoveProductFromWishlist</item>
                <item name="1" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\V4\RemoveProductFromWishlist</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\AddProductToCompare" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="0" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\UA\AddProductToCompare</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\RemoveProductFromCompare" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="0" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\UA\RemoveProductFromCompare</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\ProductImpression" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="0" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\UA\ProductImpression</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\ProductClick" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="0" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\UA\ProductClick</item>
                <item name="1" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\V4\ProductClick</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hatimeria\GtmPro\Model\DataLayerComponent\CheckoutStep" type="Hatimeria\GtmPro\Model\DataLayerComponent">
        <arguments>
            <argument name="versionComponents" xsi:type="array">
                <item name="0" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\UA\CheckoutStep</item>
                <item name="1" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\V4\CheckoutStep</item>
            </argument>
        </arguments>
    </virtualType>

     <type name="Hatimeria\GtmPro\Model\DataLayerStaticService">
        <arguments>
            <argument name="dataLayerComponent" xsi:type="array">
                <item name="product_view" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\ProductView</item>
                <item name="category_view" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\CategoryView</item>
                <item name="cart_view" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\CartView</item>
                <item name="checkout" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\CheckoutStep</item>
                <item name="core_data" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\CoreData</item>
                <item name="transaction_data" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\Transaction</item>
                <item name="search" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\Search</item>
                <item name="advanced_search" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\AdvancedSearch</item>
            </argument>
        </arguments>
    </type>
    <type name="Hatimeria\GtmPro\Model\DataLayerSectionService">
        <arguments>
            <argument name="dataLayerComponent" xsi:type="array">
                <item name="add_to_cart" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\AddToCart</item>
                <item name="remove_from_cart" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\RemoveFromCart</item>
                <item name="review_add" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\ReviewAdd</item>
                <item name="add_to_wishlist" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\AddProductToWishlist</item>
                <item name="remove_from_wishlist" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\RemoveProductFromWishlist</item>
                <item name="add_to_compare" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\AddProductToCompare</item>
                <item name="remove_to_compare" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\RemoveProductFromCompare</item>
            </argument>
        </arguments>
    </type>
    <type name="Hatimeria\GtmPro\Model\DataLayerCheckoutService">
        <arguments>
            <argument name="dataLayerComponent" xsi:type="array">
                <item name="checkoutStep" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\CheckoutStep</item>
            </argument>
        </arguments>
    </type>
    <type name="Hatimeria\GtmPro\Block\Wishlist\Customer\Item\Column">
        <arguments>
            <argument name="productImpression" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\ProductImpression</argument>
            <argument name="productClick" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\ProductClick</argument>
        </arguments>
    </type>
    <type name="Hatimeria\GtmPro\Block\Catalog\Product\ProductList\ItemDataLayerData">
        <arguments>
            <argument name="productImpression" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\ProductImpression</argument>
            <argument name="productClick" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\ProductClick</argument>
        </arguments>
    </type>
    <type name="Hatimeria\GtmPro\Observer\CatalogProductListCollection">
        <arguments>
            <argument name="search" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\Search</argument>
        </arguments>
    </type>
    <type name="Hatimeria\GtmPro\Observer\CartProductAddAfter">
        <arguments>
            <argument name="addToCartComponent" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\AddToCart</argument>
        </arguments>
    </type>
    <type name="Hatimeria\GtmPro\Observer\SalesQuoteRemoveItem">
        <arguments>
            <argument name="removeFromCartComponent" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\RemoveFromCart</argument>
        </arguments>
    </type>
    <type name="Hatimeria\GtmPro\Observer\CartUpdateAfter">
        <arguments>
            <argument name="removeFromCartComponent" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\RemoveFromCart</argument>
            <argument name="addToCartComponent" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\AddToCart</argument>
        </arguments>
    </type>
    <type name="Hatimeria\GtmPro\Observer\AddProductToCompare">
        <arguments>
            <argument name="addProductToCompareComponent" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\AddProductToCompare</argument>
        </arguments>
    </type>
    <type name="Hatimeria\GtmPro\Observer\RemoveProductFromCompare">
        <arguments>
            <argument name="removeProductFromCompareComponent" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\RemoveProductFromCompare</argument>
        </arguments>
    </type>
    <type name="Hatimeria\GtmPro\Observer\AddProductToWishlist">
        <arguments>
            <argument name="addProductToWishlistComponent" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\AddProductToWishlist</argument>
        </arguments>
    </type>
    <type name="Hatimeria\GtmPro\Observer\RemoveProductFromWishlist">
        <arguments>
            <argument name="removeProductToWishlistComponent" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\RemoveProductFromWishlist</argument>
        </arguments>
    </type>
    <type name="Hatimeria\GtmPro\Observer\ReviewAdd">
        <arguments>
            <argument name="reviewAddComponent" xsi:type="object">Hatimeria\GtmPro\Model\DataLayerComponent\ReviewAdd</argument>
        </arguments>
    </type>

    <preference for="Hatimeria\GtmPro\Api\DataLayerServiceInterface" type="Hatimeria\GtmPro\Model\DataLayerService" />
    <preference for="Hatimeria\GtmPro\Api\GuestCheckoutStepInterface" type="Hatimeria\GtmPro\Model\GuestCheckoutStep" />
    <preference for="Hatimeria\GtmPro\Api\CheckoutStepInterface" type="Hatimeria\GtmPro\Model\CheckoutStep" />
    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="hatimeria-gtmpro-product-abstract-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="hatimeria-gtmpro-product-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\CatalogSearch\Block\SearchResult\ListProduct">
        <plugin name="hatimeria-gtmpro-search-result" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Related">
        <plugin name="hatimeria-gtmpro-product-related-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Upsell">
        <plugin name="hatimeria-gtmpro-product-upsell-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Crosssell">
        <plugin name="hatimeria-gtmpro-product-crossell-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Promotion">
        <plugin name="hatimeria-gtmpro-product-promotion-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Random">
        <plugin name="hatimeria-gtmpro-product-random-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\CatalogWidget\Block\Product\ProductsList">
        <plugin name="hatimeria-gtmpro-product-catalogwidget-data" type="Hatimeria\GtmPro\Plugin\Catalog\Block\Product\AbstractProduct"/>
    </type>
</config>