<?xml version="1.0"?>
<!--
  ~  @category   Hatimeria
  ~  @author      (office@hatimeria.com)
  ~  @copyright  Copyright (c) 2020 Hatimeria Sp. z o.o. Sp. k. ( https://www.hatimeria.com/ )
  ~  @license    (https://www.gnu.org/licenses/gpl-3.0.html)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Hatimeria_GtmPro" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Store"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogSearch"/>
            <module name="Magento_CatalogWidget"/>
            <module name="Magento_Quote"/>
            <module name="Hatimeria_Base"/>
        </sequence>
    </module>
</config>
