<?xml version="1.0"?>
<!--
  ~  @category   Hatimeria
  ~  @author      (office@hatimeria.com)
  ~  @copyright  Copyright (c) 2020 Hatimeria Sp. z o.o. Sp. k. ( https://www.hatimeria.com/ )
  ~  @license    (https://www.gnu.org/licenses/gpl-3.0.html)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_remove_item">
        <observer name="hatimeria_gtmpro_quote_remove_item" instance="Hatimeria\GtmPro\Observer\SalesQuoteRemoveItem" />
    </event>
    <event name="catalog_block_product_list_collection">
        <observer name="hatimeria_gtmpro_catalog_block_product_list_collection" instance="Hatimeria\GtmPro\Observer\CatalogProductListCollection" />
    </event>
    <event name="controller_action_postdispatch_review_product_post">
        <observer name="hatimeria_gtmpro_controller_action_dispatch_review_add" instance="Hatimeria\GtmPro\Observer\ReviewAdd" />
    </event>
    <event name="wishlist_add_product">
        <observer name="hatimeria_gtmpro_wishlist_add_product" instance="Hatimeria\GtmPro\Observer\AddProductToWishlist" />
    </event>
    <event name="controller_action_predispatch_wishlist_index_remove">
        <observer name="hatimeria_gtmpro_controller_action_dispatch_wishlist_index_remove" instance="Hatimeria\GtmPro\Observer\RemoveProductFromWishlist" />
    </event>
    <event name="checkout_cart_product_add_after">
        <observer name="hatimeria_gtmpro_cart_product_add_after" instance="Hatimeria\GtmPro\Observer\CartProductAddAfter" />
    </event>
    <event name="checkout_cart_add_product_complete">
        <observer name="hatimeria_gtmpro_cart_product_add_success" instance="Hatimeria\GtmPro\Observer\CartProductAddAfter"/>
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="hatimeria_gtmpro_cart_product_update_after" instance="Hatimeria\GtmPro\Observer\CartUpdateAfter"/>
    </event>
    <event name="catalog_product_compare_add_product">
        <observer name="hatimeria_gtmpro_compare_add_product" instance="Hatimeria\GtmPro\Observer\AddProductToCompare" />
    </event>
    <event name="catalog_product_compare_remove_product">
        <observer name="hatimeria_gtmpro_compare_remove_product" instance="Hatimeria\GtmPro\Observer\RemoveProductFromCompare" />

    </event>
</config>